@import "/src/style/abstracts/variables";

.burger {
  position: relative;
  transition: transform 0.2s linear;
  cursor: pointer;

  &:hover {
    transform: scale(0.9);
  }

  &.active .line:nth-child(1),
  &.active .line:nth-child(3) {
    position: absolute;
    left: 0;
    top: 50%;
    transform-origin: center;
  }

  &.active .line:nth-child(1) {
    transform: rotate(45deg);
  }

  &.active .line:nth-child(3) {
    transform: rotate(-45deg);
  }

  &.active .line:nth-child(2) {
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
  }
}

.line {
  display: inline-block;
  width: 100%;
  height: 1px;
  background: $alto;
  opacity: 1;
  transition: all 0.2s linear;
}
