@import "/src/style/abstracts/variables";

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.image {
  margin-right: 17px;
  width: 13px;
  height: 20px;
}

.icon {
  display: inline-block;
  width: 13px;
  height: 18px;
  fill: transparent;
  cursor: pointer;

  & mask {
    fill: var(--icon-controls);
  }

  & path:nth-child(2) {
    fill: var(--icon-controls);
    transition: fill 0.2s linear;
  }

  & path:nth-child(3) {
    stroke: var(--icon-controls);
  }

  &:hover {
    & path:nth-child(2) {
      fill: var(--icon-controls);
    }

    & path:nth-child(3) {
      stroke: var(--icon-controls);
    }
  }

  &.active {
    & path:nth-child(3) {
      stroke: none;
    }
  }
}

.progress {
  width: 109px;
}

.progress_line {
  width: 109px;
}

.range {
  appearance: none;
  display: flex;
  justify-content: center;
  height: 3px;
  background: linear-gradient(90deg, var(--volume) 30%, var(--volume-track) 30%);

  &::-webkit-slider-thumb {
    appearance: none;
    border: 2px solid var(--border-volume);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background: var(--background-volume);
    cursor: pointer;
  }
}
