@import "/src/style/abstracts/variables";

.pause {
  width: 22px;
  height: 20px;
  fill: $alto-white;
  cursor: pointer;

  & g path {
    stroke: $alto-white;
    transition: stroke 0.1s linear, fill 0.1s linear;
  }

  &:hover g path {
    fill: $silver-chalice;
    stroke: $silver-chalice;
  }

  &:active g path {
    fill: $white;
    stroke: $white;
  }
}
