@import "/src/style/abstracts/variables";

.bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: $dove-gray-opacity;
}

.content {
  display: flex;
  flex-direction: column;
}

.player_progress {
  width: 100%;
  height: 5px;
  background: $mine-shaft-white;
}

.player_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 73px;
}

.player {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.volume_block {
  display: flex;
  align-items: center;
  padding: 0 92px 0 0;
  width: auto;
}
